[tool.poetry]
name = "promplate"
version = "0.1.9.5"
description = "cross-language prompt engineering framework"
homepage = "https://promplate.dev/"
repository = "https://github.com/promplate/core"
authors = ["Muspi Merol <admin@muspimerol.site>"]
license = "MIT"
readme = "README.md"
keywords = ["prompt", "template", "nlp", "llm"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Text Processing :: Markup",
    "Typing :: Typed",
]

[tool.poetry.dependencies]
python = "^3.10"
aiofiles = "^23.2"
httpx = ">=0.24, <1.0"
openai = ">=0.27, <1.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
