[tool.poetry]
name = "promplate"
version = "0.2.2.7"
description = "cross-language prompt engineering framework"
homepage = "https://promplate.dev/"
repository = "https://github.com/promplate/core"
authors = ["Muspi Merol <admin@muspimerol.site>"]
license = "MIT"
readme = "README.md"
keywords = ["prompt", "template", "nlp", "llm"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Text Processing :: Markup",
    "Typing :: Typed",
]

[tool.poetry.dependencies]
python = "^3.10"
typing-extensions = { version = "^4", python = "<3.11" }
aiofiles = { version = "^23.2", optional = true }
httpx = { version = ">=0.24, <1.0", optional = true }
openai = { version = ">=0.27, <1.0", optional = true }

[tool.poetry.extras]
aiofiles = ["aiofiles"]
httpx = ["httpx"]
openai = ["openai"]
all = ["aiofiles", "httpx", "openai"]


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
