name: Python Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "pypy3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        working-directory: python
        run: |
          python -m pip install -U pip poetry
          poetry install --all-extras --with dev
      - name: Run tests
        working-directory: python
        run: |
          poetry run test
      - name: Check Types
        working-directory: python
        run: |
          poetry run npx -y pyright
